<div class="form-group">
    <label>Music name:</label>
    <%= f.text_area :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
