<div id="background" class="jumbotron">
    <div class="container">
      <h1>Welcome to Codaisseurify</h1>
      <p>The best website for Music.</p>
      <p><a class="btn btn-primary btn-lg" href="artists" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
