<div id="background" class="jumbotron">
  <div class="container">
    <h1>Welcome to Codaisseurify</h1>
    <p>The best website for Music.</p>
    <p><a class="btn btn-primary btn-lg" href="artists" role="button">Start &raquo;</a></p>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-6">
      <h2>Artists</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="artists" role="button">More &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Choose Your Music</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="artists" role="button">More &raquo;</a></p>
    </div>
  </div>
</div>
